@using StackExchange.Profiling;
<!DOCTYPE html>

<html>
<head>
    @this.InitClientTimings()
    <meta name="viewport" content="width=device-width" />
    <title>Sparkles Project Builder</title>

    <link type='text/css' rel='stylesheet' href='@Url.Content("~/Content/bootstrap.css")' />
    <link type='text/css' rel='stylesheet' href='@Url.Content("~/Content/bootstrap-responsive.css")' />
    <link type='text/css' rel='stylesheet' href='@Url.Content("~/Content/style.css")' />

    <script type='text/javascript' src='@Url.Content("~/Scripts/library/jquery-1.8.3.js")'></script>
    <script type='text/javascript' src='@Url.Content("~/Scripts/library/bootstrap.js")'></script>
    <script type='text/javascript' src='@Url.Content("~/Scripts/library/knockout-2.2.0.js")'></script>
    <script type='text/javascript' src='@Url.Content("~/Scripts/library/knockout.validation.debug.js")'></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span-12">
                <div class="hero-unit">
                    @RenderSection("Hero", false)
                </div>
                <div class="row-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div id='system-message'>
    </div>

    <script type='text/javascript' src='@Url.Content("~/Scripts/application.js")'></script>
    @RenderSection("Javascript", false)
    @MiniProfiler.RenderIncludes()
</body>
</html>
